.title {
    font-size: 18px;
    text-transform: capitalize;
    word-wrap: break-word;
    padding-bottom: 8px;
    font-weight: bold;
    margin-top: .4em;
}

.body {
    font-size: 14px;
    padding: .3em;
}